@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,#c50b0b, #790707);
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: auto;
}

* {
    font-family: 'Kanit', sans-serif;
    color: white;
}

.titulo {
    display: flex;
    flex-direction: row;
    font-size: 30pt;
    font-weight: 700;
    background: #790707;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    text-justify: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0px 15px 0px 15px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.titulo img {
    height: 8vh;
}

.titulo .botao {
    background-color: #c50b0b;
    color:#790707;
    border:none;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    transition-delay: 0s;
    transition: all .8s;
    width: 65px;
    font-weight: 800;
    height: auto;
    transition: all .5s;
    cursor: pointer;
    top: 0;
}

.titulo .botao:hover {
    background-color: white;
    transform: scale(1.2)
}

.corpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: auto;
    font-size: 40px;
    z-index: 1;
}

.apresentacao-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 20px 0px 20px 0px;
    margin: auto;
}

.apresentacao-texto .jogar {
    background-color: #c50b0b;
    color:#eee;
    font-size: 30px;
    border:none;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    transition-delay: 0s;
    transition: all .8s;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
}

.apresentacao-texto .jogar:hover {
    background-color: white;
    color: #c50b0b;
    animation: clicavel .7s infinite;
}

.apresentacao-img img {
    height: 60vh;
}

.apps {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    background-color: #c50b0b;
    padding: 10px 0px 10px 0px;
    font-size: 30px;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
}

.apps .download{
    background-color: #790707;
    color:#EEE;
    font-size: 30px;
    border:none;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    transition-delay: 0s;
    transition: .7s;
    cursor:pointer;
}

.apps .download:hover {
    background: white;
    color:#c50b0b;
    animation: clicavel .7s infinite;
}

.rodape {
    bottom: 0%;
    height: auto;
    width: auto;
    z-index: 1000;
}

.aviso {
    transform: scale(5.5)
}

@keyframes clicavel {
    50% {
        scale: 1.2
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

@media (max-width: 950px) {
    .corpo {
        flex-direction: column;
    }
}