#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #333;
  padding: 1.3rem;
  border-radius: 30px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  gap: 1.2rem;
  transition: all 0.3s ease;
  color: white;
  text-decoration: none;
}

.card:hover {
  animation: 1.5s bounce ease infinite;
  z-index: 100;
}

.card img {
  height: 110px;
  border: 3px white solid;
  background: white;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: block;
  object-fit: contain;
}

@media (width < 1500px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:hover {
    transform: scale(1.1) rotateZ(2deg);
  }
}

@media (width < 1100px) {
  #projects {
    grid-template-columns: 1fr;
  }
}

@keyframes bounce {
  25% {
    transform: rotateZ(3deg) scale(1.2);
  }

  75% {
    transform: rotateZ(-3deg) scale(1.2);
  }
}
