@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap");
@import url("./beecrowd.css");

* {
  margin: 0;
  padding: 0;
  font-family: Kanit;
  user-select: none;
}

:root {
  --background: rgba(250, 250, 250);
  --text: black;
  --primary: rgba(50, 20, 20);
  --onprimary: white;
  --secondary: rgba(240, 240, 240);
}

body {
  display: flex;
  background: var(--background);
  width: 100vw;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background: var(--primary);
  color: var(--onprimary);
  gap: 1rem;
}

header .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .logo img {
  height: 50px;
  aspect-ratio: 1;
  display: block;
  object-fit: contain;
}

header .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menu.open {
  display: none;
}

header .menu.close {
  display: flex;
}

header .menu input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

header .menu .menu-content {
  position: fixed;
  display: flex;
  top: 53px;
  left: 0;
  width: 100vw;
  background: var(--primary);
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  transform: scaleY(0);
  z-index: 1000;
}

header .menu input[type="checkbox"]:checked ~ .open {
  display: flex;
}

header .menu input[type="checkbox"]:checked ~ .close {
  display: none;
}

header .menu input[type="checkbox"]:checked ~ .menu-content {
  transform: scaleY(1);
  top: 80px;
}

header .menu .menu-content .menu-item {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

header .menu .menu-content .menu-item:hover,
.menu-item.selected {
  background: var(--onprimary);
  color: var(--primary);
}

main {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 0 5% 2rem 5%;
}

.banner {
  position: relative;
  display: flex;
  width: 100vw;
  height: 400px;
}

.banner .image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: top;
  position: absolute;
}

.banner .text {
  position: absolute;
  color: rgba(255, 255, 255);
  mix-blend-mode: exclusion;
  height: 100%;
  width: 40vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .text.right {
  right: 5vw;
}

.banner .text.left {
  left: 5vw;
}

footer {
  background: var(--primary);
  color: var(--onprimary);
  padding: 0.3rem;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  padding: 1rem;
  aspect-ratio: 1;
  overflow: hidden;
  width: 250px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.15);
  z-index: 100;
}

.card img {
  width: 50%;
  aspect-ratio: 1;
  display: block;
  object-fit: contain;
}

a {
  color: var(--text);
  text-transform: none;
  text-decoration: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15pt;
  padding: 0.3rem 0.5rem;
  width: 80%;
  font-weight: bold;
}

.exercise h1 {
  font-size: 30pt;
}

.exercise .languages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.exercise .languages .language {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 32px;
  aspect-ratio: 1;
  object-fit: contain;
  mix-blend-mode: exclusion;
}

.exercise .languages .language img {
  mix-blend-mode: exclusion;
}

.exercise .languages .language p {
  width: 0;
  overflow-x: hidden;
  text-wrap: nowrap;
  color: white;
  mix-blend-mode: exclusion;
}

.exercise .languages .language:hover {
  background: var(--onprimary);
}

.exercise .languages .language:hover > p {
  width: fit-content;
}

.code {
  background: var(--primary);
  color: var(--onprimary);
  text-align: left;
  align-items: start;
  padding: 1rem;
  justify-content: start;
  user-select: text;
  width: 80%;
  min-height: 400px;
}
