@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./floatingArea.css");
@import url("./dropfile.css");

/* Themes */
:root {
  --button-background: rgba(0, 0, 0, 0.1);
  --background: white;
  --text: black;
  --primary: rgba(255, 200, 255, 1);
  --font-size: 12pt;
}

.dark {
  --button-background: rgba(255, 255, 255, 0.1);
  --background: rgba(10, 0, 10);
  --text: white;
  --primary: rgba(20, 20, 20);
}

/* General */
* {
  margin: 0;
  padding: 0;
  font-family: poppins, system-ui, -apple-system;
  transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
  outline: none;
  color: var(--text);
  font-size: var(--font-size);
  user-select: none;
}

/* Document */
body {
  height: 100vh;
  width: 100vw;
  background: var(--background);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: hidden;
}

/* main elements */
h1 {
  font-size: calc(var(--font-size) * 1.6);
}

h2 {
  font-size: calc(var(--font-size) * 1.4);
}

h3 {
  font-size: calc(var(--font-size) * 1.2);
}

h4 {
  font-size: calc(var(--font-size) * 1.1);
}

img,
video {
  max-width: 100%;
  max-height: 350px;
}

header {
  display: flex;
  flex: 0;
  background: var(--primary);
  width: 90%;
  justify-content: space-between;
  padding: 8px 15px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10px;
}

label.menu:hover {
  background: var(--text);
}

label.menu:has(input:checked) {
  background: var(--text);
}

label.menu:has(input:checked) > span {
  color: var(--background);
}

label.menu:hover > span {
  color: var(--background);
}

input,
select {
  user-select: all;
}

input.menu {
  position: relative;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

div.menu {
  position: fixed;
  right: 5%;
  top: 65px;
  padding: 0.5rem;
  border-radius: 10px;
  flex-direction: column;
  background: var(--primary);
  display: flex;
  gap: 0.3rem;
  z-index: 9000;
  transform: scaleY(0);
}

input.menu:checked ~ div.menu {
  transform: scaleY(1);
}

button {
  background: var(--primary);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  cursor: pointer;
}

button:hover {
  background: var(--text);
}

button:hover * {
  color: var(--primary);
}

button:active {
  transform: scale(0.9);
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

option {
  background: var(--background);
  color: var(--text);
}

option:first-child {
  border-radius: none;
}

option:last-child {
  border-radius: 0 5px 0 5px;
}

::-webkit-scrollbar {
  display: flex;
  width: 8px;
  height: 8px;
  background: var(--background);
}

::-webkit-scrollbar-track {
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  height: 5px;
  width: 5px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

::-webkit-scrollbar-corner {
  display: none;
}

input,
select,
textarea {
  background: var(--background);
  border: 0 solid var(--text);
  border-bottom: 1px solid var(--text);
  width: 80%;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
}

input:focus,
select:focus,
textarea:focus {
  background: var(--text);
  color: var(--background);
  border: 1px solid var(--background);
  transform: scale(1.01) translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

textarea {
  border-bottom: 1px solid var(--text);
  min-height: 350px;
}

ul {
  text-align: start;
}

td,
tr {
  border: 1px solid var(--text);
  padding: 0.4rem 1rem;
  border-radius: 10px;
}

tr:first-child {
  font-weight: bold;
}

table {
  align-self: center;
  justify-self: center;
}

main {
  border-radius: 10px;
  position: relative;
  flex: 3;
  width: 90vw;
  align-items: center;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  position: relative;
  display: flex;
  flex: 0;
  padding: 0.3rem;
  align-items: center;
  justify-content: center;
}

/* Containers */
.card {
  position: absloute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.card button {
  background: var(--background);
}

.card button:hover {
  background: var(--text);
}

.card button:hover * {
  color: var(--background);
}

.settings,
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.dialog {
  gap: 1rem;
  z-index: 900;
}

.dialog .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--text);
}

.dialog .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog .content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 250px;
}

.dialog .content button:hover {
  color: var(--background);
}

.dialog .card {
  max-width: 70vw;
  max-height: 80vh;
}

.settings .card {
  width: 70vw;
  max-height: 80vh;
  overflow: auto;
  gap: 1rem;
}

.settings textarea {
  resize: none;
  overflow: auto;
  height: 450px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 80%;
}

/* form */
.dialog .content > div.recent-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  overflow: auto;
  max-height: 60vh;
  max-width: calc(80vw - 30px);
}

.recent {
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.template {
  padding-top: 20px;
}

.template:hover {
  background: var(--text);
  color: var(--background);
}

.template button {
  position: absolute;
  top: 5px;
  right: 3px;
}

.template button * {
  font-size: 15pt;
}

.form {
  display: flex;
  flex: 2;
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  overflow: auto;
}

.input-field {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  text-align: center;
}

.conditional-field {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.conditional-field input {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.conditional-field input {
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  content: "";
  width: calc(var(--font-size) * 1.8);
  left: 5px;
  align-self: center;
  height: calc(var(--font-size) * 0.7);
  background: var(--background);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.checkmark::after {
  content: "";
  position: absolute;
  align-self: center;
  left: calc(var(--font-size) * 0.3 * -1);
  background: var(--text);
  top: -3px;
  height: calc(var(--font-size) * 0.95);
  width: calc(var(--font-size) * 0.95);
  border-radius: 50px;
  border: solid var(--text) 1px;
  transition: all 0.3s ease;
}

.conditional-field input:checked ~ .checkmark {
  background: rgba(10, 150, 10, 1);
}

.conditional-field input:checked ~ .checkmark::after {
  left: calc(var(--font-size) * 1.1);
  border-color: rgba(200, 200, 200);
  background-color: rgba(200, 200, 200);
}

.hover {
  display: block;
  position: relative;
  overflow: auto;
  padding: 0.5rem;
}

.recent.selected {
  background: var(--text);
  color: var(--primary);
}

.separator {
  width: 100%;
  border-bottom: 2px solid var(--text);
}

.notification-area {
  user-select: none;
  pointer-events: none;
  display: flex;
  position: fixed;
  flex-direction: column-reverse;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  z-index: 1000;
}

.notification-area .card {
  background: var(--text);
  animation: notification 3s forwards;
}

.notification-area .card * {
  color: var(--background);
}

.open-screen {
  pointer-events: all;
  transform: scaleY(1);
}

.close-screen {
  transform: scaleY(0);
  user-select: none;
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

/* Animations */

@keyframes notification {
  0% {
    transform: scaleY(0);
  }

  10% {
    transform: scale(1);
  }

  90% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
